<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="demo.dal.mapper.ExceptionCheckPlanMapper">
    <select id="findAll" resultType="demo.dal.entity.ExceptionCheckPlan">
        SELECT *
        FROM exception_check_plan limit 20
    </select>
</mapper>